# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing

.idea
Certificates.p12
CertificateSigningRequest.certSigningRequest
Concourse_CI.mobileprovision
ConcourseCI.ipa
ios_distribution.cer
